/* .head{
    border: red 1px solid;
} */

.html{
    box-sizing: border-box;
}

.body{
    margin: 0;
}
.title{
    text-align: center;
    font-family: cursive;
}

hr{
    width: 80%;
}
.navBar{
    display: flex;
    justify-content: space-evenly;
    /* background: aliceblue; */
    height: 8vh;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    animation: slideIn 1s  linear forwards; /* Aplica la animación */
}


/* Definición de la animación */
@keyframes slideIn {
    0% {
        opacity: 0; /* Comienza invisible */
        transform: translateX(-10vw); /* Comienza desplazada */
    }
    100% {
        opacity: 1; /* Aparece completamente */
        transform: translateY(0); /* Regresa a su posición original */
    }
}

.navBar a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.imgDiv{
    
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
}

.hero-image{
    width: 1400px;
    height: 530px;
    filter: blur(1.5px);

    
}

.text{
    position: absolute;
    top: 50%; /* Posiciona el texto al centro vertical */
    left: 50%; /* Posiciona el texto al centro horizontal */
    color: white;
    font-size: xxx-large;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Añade sombra para mejor visibilidad */
    text-align: center;
    animation: slideIn2 1s  linear forwards; /* Aplica la animación */
}



/* Definición de la animación */
@keyframes slideIn2 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%)   translateX(-200px); /* Desplaza horizontalmente desde fuera del área */
    }
    100% {
        opacity: 1;
        transform:  translate(-50%, -50%) translateX(0); /* Regresa al centro */
    }
}

.hero-text{
    position: relative;
    width: 50%;
    height: 400px;
    top: 38px;
    margin: auto;
}

.links{
    display: flex; /* Usa flexbox para controlar los enlaces */
    justify-content: center; /* Centra los enlaces horizontalmente */
    gap: 30%; /* Espaciado entre enlaces */
    
}

.button{

    width: 116px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff5722;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;/*DESCRIPTION A*/
}

.links a{
    display: inline-block;
    padding: 25px 20px;
    background-color: #ff5722;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 25px;
    transition: background-color 0.3s ease;
}


.links a:hover {
    background-color: #ffcbbb;
    border: #ff5722 1px solid;
    color: #ff5722;
}

.logo-circle{
    position: absolute;
    left: -351px;
    bottom: -128px;
    filter: opacity(0.2);
    pointer-events: none;
}

.text2{
    font-size: 45px;
    text-align: center;
    position: relative;
    top: 80px;   
}

.main-course{
    position: relative;
    background-color: bisque;
    height: 1000px;
    top: 270px;
    opacity: 0; /* Comienza completamente opaco */
    transition: opacity 0.5s ease-in-out; /* Añade una transición suave */
}

.second-image{
    position: relative;
    bottom: 120px;
    left: 168px;
}

.description{
    width: 30%;
    height: 38%;
    position: relative;
    bottom: 60%;
    left: 42%;
}

.description h3{
    color: rgb(219, 15, 53);
}

.description p{
    text-wrap-style: balance;
    font-size: 18px;
}

.description a:hover, .description2 a:hover {
    background: transparent;
    border: #ff5722 1px solid;
    color: #ff5722;
}

.make-order{
    height: 600px;
}

.make-order img{
    position: relative;
    left: 58%;
    bottom: 290px;
}

.description2{
    width: 30%;
    height: 38%;
    position: relative;
    bottom: 800px;
    left: 19%;
}

.description2 h3{
    color: rgb(219, 15, 53);
}

.description2 p{
    text-wrap-style: balance;
    font-size: 18px;
}

.specials{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 0; /* Comienza completamente opaco */
    transition: opacity 1.3s ease-in-out; /* Añade una transición suave */
}

.specials h1{
    position: relative;
    bottom: 20px;
    font-size: 35px;
    height: fit-content;
}

.galery{
    justify-content: center;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
}

.imgDiv2{
    margin: 0;
    width: 100%;
    height: 900px;
    position: relative;
    top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/comida2.jpg"); /* Reemplaza con la ruta de tu imagen */
    background-size: cover; /* Ajusta la imagen para que cubra todo el div */
    background-position: center; /* Centra la imagen dentro del div */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.order{
    position: absolute;
    width: 580px;
    height: 450px;
    background-color: rgb(219, 15, 53);
}

.order h1{
    color: white;
    text-align: center;
    position: relative;
    top: 50px;
}

.order p{

    color: white;
    text-align: center;
    position: relative;
    top: 100px;
}

.order a{
    position: relative;
    top: 140px;
    left: 230px;
    background-color: white;
    color: red;
}

.order a:hover{
    background: transparent;
    border: white 1px solid;
    color: white;
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
    top: 250px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
  }
  
  .footer-section {
    margin: 10px;
    min-width: 200px;
  }
  
  .footer-section h3 {
    border-bottom: 2px solid #f2a900;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  
  .footer-section a {
    color: #f2a900;
    text-decoration: none;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    margin-top: 20px;
    font-size: 14px;
  }


  @media (max-width:1000px){
    .navBar{
        display: flex;
        height: auto;
        align-items: center;
        animation: slideIn 1s linear forwards;
        flex-direction: column;
        gap: 0.3rem;
    }
    .title h1 {
        font-size: 1rem;
    }

    .imgDiv .text{
        font-size: xxx-large;
    }

    .hero-image{
        width: 100vw; /* Ocupa el 100% del ancho de la ventana */
        height: 100vh; /* Ocupa el 100% de la altura de la ventana */
        object-fit: cover; /* Escala la imagen para cubrir todo el área sin distorsionarla */
        display: block; /* Elimina el espacio blanco debajo de la imagen causado por inline-block */
    }
    .make-order img{
       display: none;
    }

    .second-image{
        display: none;
    }
    .galery img{
        width: 100vw; /* Ocupa el 100% del ancho de la ventana */
        height: 100vh; /* Ocupa el 100% de la altura de la ventana */
        object-fit: cover; /* Escala la imagen para cubrir todo el área sin distorsionarla */
        display: block; /* Elimina el espacio blanco debajo de la imagen causado por inline-block */
        margin: 0; /* Elimina márgenes si los hubiera */
    };

    .order{
        width: 390px !important;
        height: 450px;
    }
}